.App {
  text-align: center;
  background-color:rgba(219, 219, 219, 0.432);
}

.App-header {
  font-size: 70px;
  color: rgb(255, 255, 255);
  background-color: black;
  text-align: center;
  font-family:Georgia, 'Times New Roman', Times, serif ;
  padding: 0.7em 0;
  text-decoration:overline rgba(255, 78, 78, 0.733);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
